<h2>Appointment</h2>

<div>
  <b>Patient:</b>
  <p><%= @patients_name %></p>

  <b>Doctor:</b>
  <p><%= @doctors_name %></p>

  <b>Date:</b>
  <p><%= @appointment.date %></p>

  <hr>

  <b>Recommendation:</b>
  <p><%= @appointment.recommendation %></p>
</div>

